.opportunity-for-whom-arrows {
    display: inline-flex;
    align-items: center;

    left: 140px;
    bottom: 18px;

    & .slides-arrows__item {
        flex-shrink: 0;
    }

    @media (max-width: $large) {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.opportunity-for-whom-pagination {
    display: flex;
    align-items: center;

    position: relative;

    margin: 0 10px;

    & .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        background: #7d7d7d;

        margin: 0 6px;

        &-active {
            width: 8px;
            height: 8px;
            background: #4B1B81;
        }
    }
}

@media (max-width: $large) {
    .opportunity-for-whom-arrows {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: 0 24px;
    }

    .opportunity-for-whom-pagination {
        width: auto;
        align-self: flex-end;

        margin: 0 auto 56px;

        & .swiper-pagination-bullet-active {
            background: $red;
        }
    }
}

@media (max-width: $small) {
    .opportunity-for-whom-pagination {
        margin-bottom: 32px;
    }
}