.popup-payment {

    & .popup__block {
        max-width: 900px;
        height: 80vh;
    }

    & .popup__title {
        max-width: none;
        min-height: 74px
    }

    & .popup__desc {
        height: 81%;

        text-align: justify;

        padding-right: 25px;
        margin-top: 24px;

        overflow-Y: scroll;
    }
}