.popup-public-offer {
    & .popup__block {
        max-width: 900px;
        height: 80vh;

        margin: 0 15px;
    }

    & .popup__title {
        max-width: initial;
        min-height: 74px;
    }

    & .popup__desc {
        height: 81%;

        text-align: justify;

        overflow-Y: scroll;
        padding-right: 25px;
        margin-top: 24px;
    }
}