<div class="offer-sidebar">
    <div class="offer-sidebar__item">
        <a href="#">
            <svg>
                <use xlink:href="#payment-icon"></use>
            </svg>

            Оплата
        </a>
    </div>

    <div class="offer-sidebar__item">
        <a href="#">
            <svg>
                <use xlink:href="#personal-data-icon"></use>
            </svg>

            Обработка пер. данных
        </a>
    </div>

    <div class="offer-sidebar__item">
        <a class="active" href="#">
            <svg>
                <use xlink:href="#offer-icon"></use>
            </svg>

            Публичная офферта
        </a>
    </div>
</div>