.tool-list {
    width: 370px;
    flex-shrink: 0;

    position: relative;
    z-index: 2;

    & .swiper-wrapper {
        height: auto !important;
        flex-direction: column;

        @media (min-width: $medium) {
            transform: none !important;
        }
    }
    & .swiper-slide {
        width: auto !important;
    }

    &__item {
        margin-bottom: 24px;
        overflow: hidden;

        &.swiper-slide-thumb-active {

            & .tool-list__title {
                color: $purple;
            }

            @media (min-width: $medium) {
                & .tool-sublist {
                    height: auto;
                    max-height: 200px;
                }
            }
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
        line-height: 32px;
        color: #222;

        margin-bottom: 8px;

        cursor: pointer;

        transition: color .5s;

        &:hover {
            color: #8C76A5;
        }
    }

    &__img {
        display: none;
    }

    &__arrow-icon {
        display: none;
    }

    @media (max-width: $medium) {
        order: 1;
        width: 100%;

        & .swiper-wrapper {
            flex-direction: row;
        }

        & .swiper-slide {
            width: 100% !important;
        }

        &__item {
            margin-bottom: 0;
        }

        & .tool-sublist {
            max-height: 100%;
        }
    }

    @media (max-width: $ex-small) {
        & .swiper-wrapper {
            flex-direction: column;

            transform: none !important;
        }

        &__item {
            max-height: 54px;
            background: #F2F2F2;
            overflow: hidden;

            padding: 12px 16px 32px;
            margin-bottom: 12px;

            transition: max-height 1s;
        }

        &__item.swiper-slide-thumb-active {
            height: auto;
            max-height: 501px;
            background: $purple;

            color: $white;

            transition: max-height 1s;

            & .tool-list__title {
                color: $white;
            }

            & .tool-sublist {
                height: auto;
                max-height: 500px;

                transition: max-height 1s;
            }

            & .advantages-list__arrow-icon {
                display: none;
            }
        }

        &__title {
            font-size: 18px;

            transition: none;
        }

        &__img {
            display: block;

            margin-top: 24px;

            & img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }
        }

        &__arrow-icon {
            width: 12px;
            height: 8px;
            display: block;
            fill: $purple;

            position: absolute;
            top: 24px;
            right: 14px;
        }
    }
}