.offer-sidebar {
    width: 280px;
    flex-shrink: 0;
    align-self: flex-start;
    background: #fbfbfc;
    border-radius: 8px;
    overflow: hidden;

    margin-right: 80px;

    &__item {

        & a {
            height: 50px;
            display: flex;
            align-items: center;

            color: #000;

            padding: 0 20px 0 8px;

            transition: color .5s, background-color .5s;

            &:hover,
            &.active {
                color: $purple;

                & svg {
                    fill: $purple;
                }
            }
        }

        & svg {
            width: 40px;
            height: 40px;

            margin-right: 8px;

            transition: fill .5s;
        }
    }

    @media (max-width: $medium) {
        margin-right: 40px;
    }

    @media (max-width: $small) {
        width: 100%;
        display: flex;
        background: transparent;

        margin: 0 0 40px;

        -ms-overflow-style: none;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            flex-shrink: 0;

            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }

            & a {
                height: 40px;
                border: 1px solid #000;
                border-radius: 8px;

                transition: background-color .5s;

                &:hover,
                &.active {
                    border-color: $purple;
                    background: $purple;

                    color: #fff;

                    & svg {
                        fill: #fff;
                    }
                }
            }
        }
    }
}