<footer class="footer">
    <div class="container">
        <div class="footer-navbar">
            <div class="footer-navbar__left">
                <a class="footer-logo" href="/">
                    <svg class="footer-logo__icon">
                        <use xlink:href="#main-logo"></use>
                    </svg>
                </a>

                <div class="footer-contact">
                    <div class="footer-contact__item">
                        <div class="footer-contact__img">
                            <svg>
                                <use xlink:href="#e-mail"></use>
                            </svg>
                        </div>

                        <div class="footer-contact__data">
                            <div class="footer-contact__title">
                                Тех.поддержка
                            </div>

                            <div class="footer-contact__link">
                                <a href="mailto:support@moo.team">
                                    support@moo.team
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="footer-contact__item">
                        <div class="footer-contact__img">
                            <svg>
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </div>

                        <div class="footer-contact__data">
                            <div class="footer-contact__title">
                                Чат поддержки
                            </div>

                            <div class="footer-contact__link">
                                <a href="https://t.me/mooteamchat">
                                    @mooteamchat
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <menu class="footer-menu">
                <li>
                    <a>О продукте</a>

                    <ul class="sub-menu">
                        <li>
                            <a href="/opportunity">Возможности</a>
                        </li>

                        <li>
                            <a href="/solutions">Решения</a>
                        </li>

                        <li>
                            <a href="/integration">Интеграция</a>
                        </li>

                        <li>
                            <a href="/prices">Цены</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a>
                        Справочный центр
                    </a>

                    <ul class="sub-menu">
                        <li>
                            <a href="#">Wiki по адресу</a>
                        </li>

                        <li>
                            <a href="#">Обновления</a>
                        </li>

                        <li>
                            <a href="#">Новости</a>
                        </li>

                        <li>
                            <a href="#">Блог</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a>
                        Поддержка
                    </a>

                    <ul class="sub-menu">
                        <li>
                            <a href="/security">Безопасность</a>
                        </li>

                        <li>
                            <a href="/contacts">Контакты</a>
                        </li>
                    </ul>
                </li>
            </menu>

            <div class="footer-col-me">
                <div class="call-request">
                    <div class="call-request__form">
                        <form>
                            <span class="call-request__code">+7</span>
                            <input class="call-request__input" type="text" placeholder="(000) 000-00-00">

                            <button class="btn call-request__btn" type="submit">
                                Отправить
                            </button>
                        </form>

                        <div class="call-request-thanks">
                            <div class="call-request-thanks__title">
                                Спасибо! Вам перезвонят
                            </div>

                            <button class="btn call-request-thanks__btn" id="footer-thanks-btn">
                                Ок
                            </button>
                        </div>
                    </div>

                    <button class="footer-col-me__btn">
                        Перезвоните мне
                    </button>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom__copyright">
                © 2021 Moo.Team. С заботой о вашей команде
            </div>

            <div class="footer-bottom__right">
                <a id="privacy-policy" href="#">Политика конфиденциальности</a>
                <a id="public-offer" href="#">Публичная оферта</a>
            </div>
        </div>
    </div>
</footer>

<div class="scroll-top">
    <div class="scroll-top__icon">
        <svg>
            <use xlink:href="#scroll-top"></use>
        </svg>
    </div>
</div>

<!-- popup for tariffs -->
<div class="popup popup-tariffs">
    <div class="popup__overlay"></div>

    <div class="popup__block">
        <div class="popup__title">
            Благодарим вас за доверие!
        </div>

        <div class="popup__desc">
            <div>
                На указанную вами почту
                <span class="popup__user-mail" id="user-mail">zenden.l@gmail.com</span>
                в скором времени прийдут логин и пароль.
            </div>

            <div>
                Если письмо не приходит, посмотрите папку спам или напишите в нашу тех.поддержку по адресу <a class="popup__link" href="mailto:info@moo.team.ru">info@moo.team.ru</a>
            </div>
        </div>

        <div class="popup__close btn-close"></div>
    </div>
</div>

<!-- popup for corporation tariff -->
<div class="popup popup-corporation">
    <div class="popup__overlay"></div>

    <div class="popup__block">
        <div class="popup__title">
            Попап для корпорации
        </div>

        <div class="popup__desc">
            <div>
                До 1 октября 2021 года, пока действует специальный тариф «На старт!», другие тарифы будут недоступны.
            </div>

            <div>
                Если вашей команде нужно больше проектов или пользователей, напишите нам на <a class="popup__link" href="mailto:support@moo.team">support@moo.team</a> и мы расширим ваш тариф, а также ответим на все интересующие вопросы! Спасибо, что вы с нами!
            </div>
        </div>

        <div class="popup__close btn-close"></div>
    </div>
</div>