<header class="header">
    <div class="container">
        <div class="header-navbar">
            <a class="header-logo" href="/">
                <svg class="header-logo__icon">
                    <use xlink:href="#main-logo"></use>
                </svg>
            </a>

            <div class="header-menu">
                <div class="header-menu__container">
                    <menu class="header-menu-list">
                        <li class="capability">
                            <a class="header-menu-list__popup" href="#">
                                О продукте

                                <svg>
                                    <use xlink:href="#triangle"></use>
                                </svg>
                            </a>

                            <ul class="header-submenu">
                                <li>
                                    <a href="/opportunity.html">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#capability"></use>
                                        </svg>

                                        Возможности
                                    </a>
                                </li>

                                <li>
                                    <a href="/solutions.html">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#decision"></use>
                                        </svg>

                                        Решения
                                    </a>
                                </li>

                                <li>
                                    <a href="/integration.html">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#integration"></use>
                                        </svg>

                                        Интеграции
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="header-menu-list__link" href="/prices.html">Цены</a>
                        </li>

                        <li>
                            <a class="header-menu-list__popup" href="#">
                                Поддержка

                                <svg>
                                    <use xlink:href="#triangle"></use>
                                </svg>
                            </a>

                            <ul class="header-submenu">
                                <li>
                                    <a href="/security.html">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#safety"></use>
                                        </svg>

                                        Безопасность
                                    </a>
                                </li>

                                <li>
                                    <a href="/contacts.html">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#contacts"></use>
                                        </svg>

                                        Контакты
                                    </a>
                                </li>

                                <li>
                                    <a href="/wiki.html">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#wiki"></use>
                                        </svg>

                                        Wiki по серверу
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#renewal"></use>
                                        </svg>

                                        Обновления
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#news"></use>
                                        </svg>

                                        Новости
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <svg class="header-submenu__icon">
                                            <use xlink:href="#blog"></use>
                                        </svg>

                                        Блог
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </menu>
                </div>
            </div>

            <div class="header-enter">
                <a class="btn" href="https://app.moo.team/signin">
                    Войти
                    <span>/ Регистрация</span>
                </a>

                <a href="https://app.moo.team/signin">
                    <svg class="header-enter__icon">
                        <use xlink:href="#enter"></use>
                    </svg>
                </a>
            </div>

            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</header>